<a href="https://colab.research.google.com/github/dheerajrathee/Bike-Share-Data-Udacity/blob/master/project_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Add liberaries

In [2]:
import pandas as pd

In [1]:
# Mount google drive folder
from google.colab import drive
# This will prompt for authorization.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
path = '/content/drive/MyDrive/Colab Notebooks/project assignment data/CE888_Project_allocation_2021_Responses.xlsx'
df = pd.read_excel(path)
dh.head()

In [29]:
df1 = df.iloc[:,1:6].copy()

In [33]:
df1.columns = ['name', 'id','P1', 'P2','P3']
df1.reset_index(inplace=True)
df1.head()

   index                             name  ...             P2            P3
0      0                   Yevhen Blinkov  ...   First option  Third Option
1      1  Juan Antonio Lizárraga Vizcarra  ...  Second option  Third Option
2      2               Nusret Tolga Aydin  ...  Second option  Third Option
3      3       Yaswanth Reddy Maram Reddy  ...   Third Option  First option
4      4                   Zeel M Pansara  ...  Second option  Third Option

[5 rows x 6 columns]